/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET ADDED*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  background-color: var(--darkRed);
  color: white;
}

/* DEFAULT STYLES */
:root {
  --black: #1a1a1d;
  --grey: #4e4e50;
  --white: white;
  --darkRed: #6f2232;
  --mediumRed: #950740;
  --lightRed: #c3073f;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 10px;
}

/* HEADER AREA */

.hero {
  margin-bottom: 50px;
}

header {
  width: 100vw;
  height: 12%;
  background-color: var(--lightRed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.logo {
  margin: 10px;
}

.logo-img {
  width: 10vw;
  height: 10vw;
}
.filter-white {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(108%)
    contrast(101%);
}

.logo-text {
  font-size: 1rem;
  color: white;
}

.menu {
  margin-right: 10px;
}

.menu div {
  width: 30px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 5px;
}
/* fix more spec, transparent color trans*/
nav.menu-display {
  text-align: center;
  position: fixed;
  display: none;
  background-color: #6f2232;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
nav.menu-display.open {
  display: flex;
}
nav li {
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

nav .cross {
  width: 7vw;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* MAIN CONTENT HOMEPAGE */

.trend-movies,
.movie-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card-trend {
  flex: 0 0 auto;
}

.trend-movies::-webkit-scrollbar,
.movie-row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.trend-movies,
.movie-row {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.movies {
  height: 50vh;
  margin-bottom: 50px;
}

.sec-row {
  margin-bottom: 90px;
}

.movie-row img {
  margin: 0px 0px 0px 10px;
}

/*DASHBOARD CSS*/

.watchlist {
  margin: 2rem 0 2rem 0;
}
.dashboard-row h3 {
  margin-top: 2rem;
}
.viewed {
  margin: 2rem 0 5rem 0;
}

/* LOGIN/SIGNUP FORM CSS */

input {
  text-align: center;
  border: none;
  margin-bottom: 10px;
  background-color: var(--mediumRed);
}

#form-btn {
  margin-bottom: 10px;
  border: none;
  background-color: var(--grey);
  color: var(--black);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.login-link-btn {
  color: white;
  text-align: center;
  font-size: 1rem;
  display: block;
  padding: 0.2rem 3.4rem;
  text-decoration: none;
  background-color: var(--mediumRed);
  border-radius: 5px;
}
.new-acc-btn {
  color: white;
  text-align: center;
  font-size: 1rem;
  display: block;
  padding: 0.2rem 1.8rem;
  text-decoration: none;
  background-color: var(--mediumRed);
  border-radius: 5px;
}

/*MOVIE PAGE*/

.movie-page {
  font-size: 1rem;
  margin-bottom: 90px; /* Change this*/
}

.movie-details {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.movie-info-row,
.movie-description {
  line-height: 1.2rem;
}

.movie-page p,
.movie-page h5 {
  display: inline;
}

.movie-bg {
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-container button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--mediumRed);
  color: var(--black);
}

/*FAQ PAGE*/

.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.faq-div {
  font-size: 1rem;
  background-color: var(--mediumRed);
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

.question {
  font-weight: 700;
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

/* Mobile first, we start from the smallest viewport width */

/* From 768px and up */
@media (min-width: 768px) {
}

/* From 1024px and up */
@media (min-width: 1024px) {
  header {
    width: 100vw;
    height: 12%;
    background-color: var(--lightRed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
}
